.header {
  background-color: #406137;
}

.header-text {
  color: #D7F0D1 !important;
  font-weight: 700 !important;
  font-size: calc(10px + 1.5vmin) !important;
}

.corpo {
  text-align: center;
  background-color: #fff7febd;
  height: 95vh;
}

h1 {
  text-align: left;
  font-weight: 700;
  font-size: 1.3em;
  margin-top: 2vw !important;
  margin-bottom: 2vw !important;
  color: #406137 !important;
}

h2 {
  text-align: left;
  font-weight: 700;
  font-size: 1.2em !important;
  margin-top: 1vw !important;
  margin-bottom: 1vw !important;
}

.text {
  text-align: left;
  font-size: 1em;
}

.btn-primary {
  background-color: #D7F0D1 !important;
  border-color: #D7F0D1 !important;
  color: #406137 !important;
  font-weight: 500 !important;
}

.btn-secondary {
  background-color: #406137 !important;
  border-color: #406137 !important;
  color: #D7F0D1 !important;
  font-weight: 500 !important;
}

.form-control:focus {
  border-color: #406137 !important;
  box-shadow: 0 0 0 0.2rem #D7F0D1 !important;
} 

.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 25px;
  font-weight: 700;
  background-color: #406137;
  font-size: calc(10px + 0.5vmin);
  text-align: center;
  color: #D7F0D1;
}